doctype html
html(lang='en', ng-app='calendarApp')
	head
		meta(charset='utf-8')
		title Calendar with MEAN
	
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='https://code.angularjs.org/1.4.0-beta.4/angular.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js')
		script(src='/javascripts/app.js')
		script(src='/javascripts/controller.js')
		
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content