body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.currentMonth {
    font-size:16px;
    color: darkblue;
}

.calendar {
	overflow:hidden;
}
.calendar.monthView > div {
    float:left;
    height: 80px;
    width: 150px;
    border: 1px solid #5d2891;
    background-color: antiquewhite;
}

ul {
    margin: 0;   
    padding: 0;
}

ul li {
    list-style-type: none;
}
