body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.currentMonth {
    font-size:16px;
    color: darkblue;
}

.calendar {
	overflow:hidden;
}
.calendar.monthView > div {
    float:left;
    height: 80px;
    width: 14.28%;
    border: 1px solid purple;
    background-color: papayawhip;
}

.calendar.monthView div.prevNextMonth {
	opacity: 0.4;
}

ul {
    margin: 0;   
    padding: 0;
}

ul li {
    list-style-type: none;
}
